#about {
  color: $white-color;
  background-image: linear-gradient(135deg, $primary-color, $secondary-color);
  padding: 40px 0 140px 0;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  @include responsive(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
}

.about {
  &__container {
    @include container;
  }
  &__title {
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: Mont-title, sans-serif;
    font-size: $big-font-size;
  }
  &__content {
    &-wrapper {
      display: flex;
      flex-direction: row;
      @include responsive(phone) {
        flex-direction: column;
      }
    }
    &__img {
      width: 360px;
      height: 360px;
      margin-right: 10%;
      @include responsive(phone) {
        margin-bottom: 20px;
        width: auto;
      }
    }
    &__tech-stack {
      color: $dark-blue-text;
    }
  }
}
