#footer {
  padding: 40px 0 20px 0;
  background-color: $dark-grey;
  color: $white-color;
}

.footer {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__hr {
    margin-top: 20px;
    width: 30vw;
  }
}