#footer {
  padding: 40px 0 20px 0;
  background-color: $dark-grey;
  color: $white-color;
}

.footer {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__social-links {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 100px;
    a {
      cursor: pointer;
      font-size: $big-font-size;
      color: inherit;
    }
    a:visited {
      color: inherit;
    }
  }
  &__hr {
    margin-top: 20px;
    width: 30vw;
  }
}

.back-to-top {
  cursor: pointer;
  font-size: 50px;
}
