.hero {
  &__container {
    min-height: 100vh;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Mont-title, sans-serif;
    font-size: $big-font-size;
  }
  &__intro {
    @include responsive(phone) {
      font-size: $big-font-size;
    }
  }
  &__my-name {
    @include transparent-text;
  }
  &__more-btn {
    text-transform: capitalize;
    font-size: $mid-font-size;
    font-family: Mont-title, sans-serif;
    padding: 10px;
    @include transparent-text;
    @include transparent-border;
  }
  &__more-btn:hover {
    background-clip: padding-box;
    -webkit-text-fill-color: $white-color;
  }
}
