.project {
  &__container {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include responsive(phone) {
      flex-direction: column;
    }
  }
  &__info {
    &__container {
      width: 500px;
      margin: 0 10px;
      @include responsive(phone) {
        margin-bottom: 20px;
        width: auto;
      }
    }
    &__title {
      text-transform: capitalize;
      font-family: Mont-title, sans-serif;
    }
  }
  &__btn__live {
    font-size: $default-font-size;
    font-family: Mont-title, sans-serif;
    text-transform: capitalize;
    @include transparent-text;
    @include transparent-border;
    padding: 4px;
    margin-right: 8px;
    &:hover {
      background-clip: padding-box;
      -webkit-text-fill-color: $white-color;
    }
  }
  &__btn__scode {
    font-size: $default-font-size;
    text-transform: capitalize;
    font-family: Mont-title, sans-serif;
    padding: 4px;
    cursor: pointer;
    border: none;
    @include transparent-text;
  }
  &__img {
    &__item {
      max-width: 100%;
      width: 560px;
      height: auto;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      @include responsive(phone) {
        margin-left:10px;
      }
    }
  }
}
